.chat

  .content

    .line.system.first
      Welcome to RailsPG!

  = form_for Message.new do |form|
    %fieldset
      = form.hidden_field :sent, value: true
      = form.hidden_field :original, value: true
      = form.text_field :plain, tabindex: 1, autofocus: 'autofocus', placeholder: 'Type your message and press Enter/Return to send.'

%aside
  .players
    %ul

  %label.auto-scroll
    %input( type="checkbox" checked )
    Auto-scroll

  .sheet
    %button.close
    %h2 Sir Lancelot
    %h3 Character Sheet
    %form
      %fieldset
        = find_and_preserve do
          %textarea
            Name:
            Race:
            Profession:
            Health Points:
            —
            Strength:
            Intelligence:
            Dexterity:
            Vitality:
            —
            Professions:
            —
            Back Story:
        %input( type="Submit" value="Save" )
