.chat

  .content

    .line.system.first
      Welcome to RailsPG!

    - @messages.each do |message|
      = render message

  = form_for Message.new do |form|
    %fieldset
      = form.hidden_field :sent, value: true
      = form.hidden_field :original, value: true
      = form.text_field :plain, tabindex: 1, autofocus: 'autofocus', placeholder: 'Type your message and press Enter/Return to send.'

%aside
  .players
    %ul
      - User.all.each do |user|
        %li.dm.host
          = image_tag "user.png", alt: ""
          - if user == current_user
            .name= user.email
            %span (You)
          - else
            .name= user.email
          .char= user.name

    %button.invite Invite Players

  %label.auto-scroll
    %input( type="checkbox" checked )
    Auto-scroll
