.chat
  - @messages.each do |message|
    %div.line{ class: message.classes }
      %time= message.created_at
      %span.sender
        - if message.scope
          %span.scope= message.scope
        - if message.char
          %span.char= message.char
        - if message.name
          %span.name= message.name
      .body
        :markdown
          #{message.body}

%form
  %fieldset
    %input( type="text" )
